<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.crazyit.desktop">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
<receiver android:name=".LedClock"
	android:label="@string/app_name">
	<!-- 将该BroadcastReceiver当成桌面控件 -->
	<intent-filter>
		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	</intent-filter>
	<!-- 指定桌面控件的meta-data -->
	<meta-data android:name="android.appwidget.provider"
		android:resource="@xml/my_clock"/>
</receiver>
	</application>

</manifest>