<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.crazyit.content">
	<!-- 指定该应用暴露了一个权限 -->
	<permission android:name="org.crazyit.permission.USE_DICT" android:protectionLevel="normal" />
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ResultActivity">

		</activity>
		<!-- 注册一个ContentProvider -->
		<provider android:name=".DictProvider"
			android:authorities="org.crazyit.providers.dictprovider"
			android:exported="true"
			android:permission="org.crazyit.permission.USE_DICT">
		</provider>
	</application>

</manifest>